/*
    Colors:
    Black = #333
    White = whitesmoke
    Accent = #890000
*/

/* Universal ------------------------------------------------------------------- */
/* Fonts */
@font-face {
	font-family: "Quarca";
	src: url("../assets/QuarcaCondBold.otf") format("opentype");
}

/* General */
* {
	font-family: Calibri; 
}

table.xdebug-error {
    color: black;
}

body {
    margin: 0px;
    color: whitesmoke;
    background-color: #333;
}

body > div#mainContent {
    padding-left: 10px;
    padding-right: 10px;
}

.flexContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	text-align: center;
	margin: auto;
	justify-content: center;
}

h1, h2, h3 {
    font-family: "Quarca";
}

.jumboLink {
    color: whitesmoke;
    text-decoration: none;
}

.jumboHeader {
    font-family: Quarca, Calibri;
    text-align: center;
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.jumboSubtitle {
    text-align: center;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .jumboHeader {
        font-size: 300%;
    }

    .jumboSubtitle {
        font-size: 120%;
    }
}

.loadingText:after {
  content: '.';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
	0%, 20% {
		color: rgba(0,0,0,0);
		text-shadow:
		.25em 0 0 rgba(0,0,0,0),
		.5em 0 0 rgba(0,0,0,0);
	}
	40% {
		color: whitesmoke;
		text-shadow:
		.25em 0 0 rgba(0,0,0,0),
		.5em 0 0 rgba(0,0,0,0);
	}
	60% {
		text-shadow:
		.25em 0 0 whitesmoke,
		.5em 0 0 rgba(0,0,0,0);
	}
	80%, 100% {
		text-shadow:
		.25em 0 0 whitesmoke,
		.5em 0 0 whitesmoke;
	}
}

.boldText {
    font-weight: bold;
}

/* Toolbar */
.topNav {
    background-color: whitesmoke;
    overflow: hidden;
}

.topNav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-top: 1px solid #333;
    margin-top: 4px;
    margin-left: 4px;
}

.topNav a:hover {
    background-color: #333;
    color: whitesmoke;
    
}

a.active {
    background-color: #333;
    color: whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.topNav .icon {
    display: none;
    padding-bottom: 11.5px;
}

@media screen and (max-width: 600px) {
    .topNav a:not(:first-child) {
        display: none;
        border-radius: 0px;
    }

    .topNav a.icon {
        float: right;
        display: block;
        border: none;
        border-radius: 4px;
        margin-right: 4px;
    }

    .topNav .active {
        background-color: #333;
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    .topNav.responsive {
        position: relative;
        border-radius: 0px;
    }

    .topNav.responsive a {
        border-radius: 0px;
        border-bottom: 1px solid #333;
        margin-right: 4px;
    }

    .topNav.responsive a:nth-last-child(2) {
        margin-bottom: 4px;
    }

    .topNav.responsive a:hover {
        border-radius: 0px;
    }

    .topNav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
        color: whitesmoke;
        background-color: #333;
        border-left: none;

    }

    .topNav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Footer */
footer {
    /* float: right; */
    border-top: 1px solid whitesmoke;
    padding-right: 10px;
    padding-top: 10px;
    margin-top: 35px;
    margin-bottom: 10px;
}

footer > .footerButton {
    background-color: #333;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 4px;
    text-decoration: none;
    margin: auto;
}

footer > .footerButton:hover {
    background-color: whitesmoke;
    color: #333;
}

/* Components ------------------------------------------------------------------ */
.listingObjectContainer a {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    display: inline-flex;
    height: fit-content;
    min-width: 230px;
    width: 45%;
    height: 200px;
    padding: 4px;
    margin: 4px;
    color: whitesmoke;
    text-decoration: none;
}

.listingObjectContainer a:hover {
    background-color: whitesmoke;
    color: #333;
}

.listingObjectContainer a:hover > .leftPanel img {
    background-color: #333;
}

.listingObjectContainer a > .leftPanel {
    float: left;
}

.listingObjectContainer a > .leftPanel img {
    height: 96%;
    width: 13em;
    border-radius: 10px;
    padding: 4px;
    margin-right: 4px;
}

.listingObjectContainer a > .rightPanel {
    text-align: left;
    float: right;
}

.listingObjectContainer a > .rightPanel * {
     margin-top: 0px;
     margin-bottom: 0px;
}

@media screen and (max-width: 900px) {
    .listingObjectContainer a {
        display: block;
        height: fit-content;
        padding: 10px;
    }

    .listingObjectContainer a > .leftPanel {
        float: none;
    }

    .listingObjectContainer a > .leftPanel img {
        height: 10em;
    }


    .listingObjectContainer a > .rightPanel {
        float: none;
    }

    .listingObjectContainer a > .rightPanel * {
        word-break: break-all;
    }

    .listingObjectContainer a > .rightPanel > p {
        word-break: normal;
    }
}

/* Pages ----------------------------------------------------------------------- */
/* Disclaimer */
#disclaimer > #mainContent .optionsTitle {
    margin-bottom: 0px;
}

#disclaimer > #mainContent .options {
    margin: 0px;
}

#disclaimer > #mainContent .options * {
    margin: 0px;
    color: whitesmoke;
}

/* Error 404 */
.error404Text {
    text-align: center;
}

/* Index */
#index > #mainContent > h2 {
    margin-bottom: 0px;
}

/* Submit */
#submit > #mainContent > h1 {
    text-align: center;
}

form > div > div {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    margin: auto;
    margin-bottom: 4px;
}

form .instruction {
    margin: 0px;
}

form .details {
    margin: 0px;
    margin-bottom: 4px;
    font-size: 12px;
}

form .details a {
    color: whitesmoke;
}

form input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    background-color: whitesmoke;
    color: #333;
    padding: 4px;
}

form textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    box-sizing: border-box;
    min-height: 100px;
    height: 100px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    background-color: whitesmoke;
    color: #333;
    padding: 4px;
}

form input[type="checkbox"] {
    width: 12px;
}

form .checkboxWrapper {
    margin: 0px;
}

form input[type="file"] {
    background-color: #333;
    color: whitesmoke;
    border: none;
    margin-top: 4px;
    width: 100%;
}

form input[type="submit"] {
    width: 50%;
    display: block;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #333;
    color: whitesmoke;
}

@media screen and (max-width: 750px) {
    form > div > div {
        width: 95%;
    }
}

.forumErrors {
    background-color: whitesmoke;
    color: #333;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
}

.forumErrors * {
    margin-top: 2px;
    margin-bottom: 2px;
}

.forumErrors h3 {
    background-color: #333;
    color: whitesmoke;
    border-radius: 10px;
    padding: 4px;
}

.forumErrors p {
    color: #890000;
}

#submit #productPageLink {
    color: whitesmoke;
    text-decoration: none;
    border-bottom: 1px dotted whitesmoke;
}

/* Listing */
#listing #mainContent > h1 {
    margin-bottom: 0px;
}

#listing #mainContent > h2 {
    text-align: center;
    margin-top: 0px;
}

.listingPanel > .leftPanel > div > img.wide {
    background-color: rgba(245,245,245,0.5);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    height: auto;
}

.listingPanel > .leftPanel > div > img.tall {
    background-color: rgba(245,245,245,0.5);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    width: auto;
    height: 25em;
}

.listingPanel > .rightPanel {
    min-width: 275px;
    width: 50%;
}

.listingPanel > .rightPanel > h3 {
    font-size: 30px;
    margin: 0px;
}

.listingPanel > .rightPanel > p {
    background-color: whitesmoke;
    color: #333;
    border-radius: 4px;
    margin: 4px;
    padding: 10px;
}

.listingButton {
    background-color: #333;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    padding: 10px;
}

.listingButton:hover {
    background-color: whitesmoke;
    color: #333;
    cursor: pointer;
}

.contactButton {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

.imageButton {
    padding-left: 3em;
    padding-right: 3em;
}

/* Browse */
.browseToolbar {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
}

.browseToolbar > a {
    font-weight: 30px;
    color: whitesmoke;
    text-decoration: none;
}

.browseToolbar > a:hover {
    background-color: whitesmoke;
    color: #333;
}

.browseToolbar > a > p {
    width: 50%;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    padding: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 10px;
}

.browseToolbar > a:hover > p {
    background-color: whitesmoke;
}

.browseToolbar > form {
    width: 25%;
    min-width: 264px;
    margin: auto;
    box-sizing: border-box;
}

.browseToolbar > form > input {
    width: 70%;
    display: inline;
    margin-top: 4px;
    box-sizing: border-box;
}

.browseToolbar > form > button {
    width: 24%;
    background-color: #333;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    display: inline;
    padding: 4px;
    margin-top: 4px;
    box-sizing: border-box;
}

.browseToolbar > form > button:hover {
    background-color: whitesmoke;
    color: #333;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .browseToolbar > form > button, .browseToolbar > form > input {
        min-width: 264px;
    }
}

.listingObjectContainer {
    border-top: 1px solid whitesmoke;
    padding-top: 10px;
    margin-top: 10px;
}

.browseToolbar > ol {
    list-style-type: none;
    width: fit-content;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.browseToolbar > ol > li {
    display: inline;
}

.browseToolbar > ol > li a {
    color: whitesmoke;
    text-decoration: none;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    margin-right: 4px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.browseToolbar > ol > li a:hover {
    background-color: whitesmoke;
    color: #333;
}

.browseToolbar > ol > li a.current {
    background-color: grey;
    color: whitesmoke;
}

.browseToolbar > ol > li a.current:hover {
    background-color: whitesmoke;
    color: #333;
}

@media screen and (max-width: 600px) {
    .browseToolbar > ol > li a {
        padding-left: 11px;
        padding-right: 11px;
    }
}

.searchFailText {
    text-align: center;
}

.searchFailText > h1 {
    margin-bottom: 0px;
}

.searchFailText > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Login */
