/*
    Colors:
    Black = #333
    White = whitesmoke
    Accent = #890000
*/

/* Universal ------------------------------------------------------------------- */
/* Fonts */
@font-face {
	font-family: "Quarca";
	src: url("../assets/QuarcaCondBold.otf") format("opentype");
}

/* General */
* {
	font-family: Calibri; 
}

body {
    margin: 0px;
    color: whitesmoke;
    background-color: #333;
}

body > div#mainContent {
    padding-left: 10px;
    padding-right: 10px;
}

.flexContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	text-align: center;
	margin: auto;
	justify-content: center;
}

/* Toolbar */
.topNav {
    background-color: whitesmoke;
    overflow: hidden;
}

.topNav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.topNav a:hover {
    background-color: #333;
    color: whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

a.active {
    background-color: #333;
    color: whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.topNav .icon {
    display: none;
    padding-bottom: 11.5px;
}

@media screen and (max-width: 600px) {
    .topNav a:not(:first-child) {
        display: none;
        border-radius: 0px;
    }

    .topNav a.icon {
        float: right;
        display: block;
        border-radius: 0px;
    }

    .topNav a.icon:hover {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .topNav .active {
        background-color: #333;
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    .topNav.responsive {
        position: relative;
        border-radius: 0px;
    }

    .topNav.responsive a {
        border-radius: 0px;
    }

    .topNav.responsive a:hover {
        border-radius: 0px;
    }

    .topNav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
        color: whitesmoke;
        background-color: #333;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .topNav.responsive a.icon:hover {
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 0px;
    }

    .topNav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Footer */
footer {
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}

/* Pages ----------------------------------------------------------------------- */
/* Index */
#index > #mainContent > h1 {
    font-family: Quarca, Calibri;
    text-align: center;
    font-size: 100px;
    margin-top: 0px;
}

@media screen and (max-width: 600px) {
    #index > #mainContent > h1 {
        font-size: 300%;
    }
}

#index #top5Container > div {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    display: inline-flex;
    height: fit-content;
    width: 45%;
    height: 200px;
    padding: 4px;
    margin: 4px;
}

#index #top5Container > div > .leftPanel {
    float: left;
}

#index #top5Container > div > .leftPanel img {
    height: 100%;
    border-radius: 10px;
}

#index #top5Container > div > .rightPanel {
    text-align: left;
    float: right;
}

@media screen and (max-width: 600px) {
    #index #top5Container > div {
        display: block;
        height: fit-content;
    }

    #index #top5Container > div > .leftPanel {
        float: none;
    }

    #index #top5Container > div > .leftPanel img {
        height: 10em;
    }


    #index #top5Container > div > .rightPanel {
        float: none;
    }
}